{% extends "shared/base.html" %} {% block content %}

<div class="container"
     id="login-container"
     style="display: flex; flex: 1; justify-content: center; align-items: center">

  <article id="login-card"
           style="width: 100%; max-width: 450px; min-width: 400px; padding-top: 2.5rem; padding-bottom: 2.5rem">
    <!-- Login Form -->
    <hgroup>

      <h3>{{ config.organization_name }}</h3>
      <p>Sign in to continue</p>
    </hgroup>

    <div id="google-login">
      <button type="submit"
              class="contrast outline"
              id="google-login-btn"
              style="display: flex; justify-content: center; align-items: center">

        <div style="display: flex; align-items: center">
          <svg version="1.1"
               class="img-fluid"
               id="google-icon"
               style="display: inline-block; align-self: center; margin-right: 0.5rem; height: 1.25rem; width: 1.25rem"
               xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 48 48"
               xmlns:xlink="http://www.w3.org/1999/xlink">
            <path fill="#EA4335"
                  d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
            <path fill="#4285F4"
                  d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
            <path fill="#FBBC05"
                  d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
            <path fill="#34A853"
                  d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
            <path fill="none"
                  d="M0 0h48v48H0z"></path>
          </svg>
        </div>
        <span>Continue with Google</span>
      </button>
    </div>

    <!-- <hr /> -->

    <div style="display: flex; width: 100%; justify-content: center; align-items: center; margin-bottom: 1rem; padding-left: 3rem; padding-right: 3rem">

      <div style="flex: 1; border: 0.5px solid lightgray"></div>

      <div style="width: 3rem; height: 3rem; display: flex; align-items: center; justify-content: center; border: 1px solid lightgray; border-radius: 50%; padding: 0.5rem"><small>OR</small></div>

      <div style="flex: 1; border: 0.5px solid lightgray"></div>
    </div>

    <form id="login-form"
          action="/login"
          method="post">
      <!-- Sign in with Google button -->

      <!-- Username and Password -->
      <!-- <small id="login-text" style="margin-bottom: 5rem;">Or sign in using an email and password</small> -->
      <!-- <p>Or sign in with username and password</p> -->

      <div>
        <!-- <label for="email">Username</label> -->
        <input type="email"
               name="username"
               id="email-input"
               autocomplete="email"
               placeholder="Email"
               aria-label="Email" />
        <small id="valid-email-helper"
               style="display: none">Username cannot be empty</small>

        <!-- <label for="password">Password</label> -->
        <input type="password"
               name="password"
               id="password-input"
               autocomplete="current-password"
               placeholder="Password"
               aria-label="Password" />
        <small id="valid-password-helper"
               style="display: none">Password cannot be empty</small>
        <label id="remember-me-label"
               for="remember-me"><input type="checkbox"
                 id="remember-me"
                 name="remember-me" />Remember me</label>

        <!-- Login Button -->
        <!-- <button type="submit" id="login-btn" hx-get="https://api.npoint.io/cd1cfd31eec77ca5376d" hx-trigger="click" hx-target="body" hx-swap="outerHTML">Login</button> -->
        <button type="submit"
                id="login-btn"
                style="margin-top: 1rem">Login</button>
        <a href="#"><label>Forgot Password?</label></a>
      </div>
    </form>
    {% if authentication_failed == True %}

    <div class="error-message">Invalid credentials, please try again.</div>
    {% endif %}
  </article>
</div>
{% endblock %}