{% block sidenav %}

{% if current_user is defined and current_user.active %}
<!-- <div class="sidenav-header">
  <hgroup>
    <h4>Hi {{ current_user.first_name }},</h4>
    <p>Welcome to {{ config.organization_name }}!</p>
    <p>What would you like to do today?</p>
  </hgroup>
</div> -->

<!-- hx-on::response-error="handleHTTPError(event)" -->

<div class="sidenav-body">

  <h5><a class=""
       href="/">Home</a></h5>

  <hr />

  <h5><a class=""
       href="#"
       hx-get="/deployments"
       hx-trigger="click"
       hx-swap="innerHTML"
       hx-target=".content-root">Deployments</a></h5>

  <hr />

  <h5><a class=""
       href="#"
       hx-get="/stacks"
       hx-trigger="click"
       hx-swap="innerHTML"
       hx-target=".content-root">Stacks</a></h5>

  <hr />

  <h5><a class=""
       href="#"
       hx-get="/environments"
       hx-trigger="click"
       hx-swap="innerHTML"
       hx-target=".content-root">Environments</a></h5>

  <hr />

  <h5><a class=""
       href="#"
       hx-get="/products"
       hx-trigger="click"
       hx-swap="innerHTML"
       hx-target=".content-root">Products</a></h5>

  <hr />

  <h5><a class=""
       href="#"
       hx-get="/cloudproviders"
       hx-trigger="click"
       hx-swap="innerHTML"
       hx-target=".content-root">Cloud Providers</a></h5>

  <hr />

  <h5><a class="button outline"
       href="#"
       hx-get="/teams"
       hx-trigger="click"
       hx-swap="innerHTML"
       hx-target=".content-root">Teams</a></h5>

  <hr />

  <h5><a class="button outline"
       href="#"
       hx-get="/users"
       hx-trigger="click"
       hx-swap="innerHTML"
       hx-target=".content-root">Users</a></h5>

</div>

<div class="sidenav-footer">
  <hgroup>
    <!-- <h4>Hi {{ current_user.first_name }},</h4> -->
    <!-- <p>Welcome to {{ config.organization_name }} Cloud!</p> -->
    <!-- <p>What would you like to do today?</p> -->
  </hgroup>
</div>
{% endif %}
{% endblock %}