{% block nav %}

<nav>
  <ul>
    <li>
      <!-- <a href="/">
        <h3 style="margin: 0">{{ config.organization_name }}</h3>
      </a> -->
      <a href="/"><img alt="{{ config.organization_name }} Logo"
             srcset="/static/img/sdh-logo.svg"
             style="height: 60px" /></a>
    </li>
    <!-- <li> -->
    <!-- <a href="/"><img src="/static/img/logo.svg" alt="Acme Logo" srcset="/static/img/logo.svg" style="height: 70px" /></a> -->
    <!-- </li> -->
  </ul>

  {% if current_user is defined and current_user.active %}

  <ul>
    <li><input class="form-control"
             style="min-width: 500px"
             id="search-input"
             type="search"
             name="search"
             placeholder="Search ..."
             hx-post="/search"
             hx-trigger="input changed delay:500ms, search"
             hx-target="#search-results"
             hx-indicator=".htmx-indicator" /></li>
  </ul>

  {% endif %}

  <ul>
    <li>
      <button id="theme-switcher"
              aria-label="Switch Theme"
              class="button outline navbar-btn">
        <i id="theme-icon"
           class="bi bi-moon"></i>
      </button>
    </li>

    {% if current_user is defined and current_user.active %}

    <li>
      <details class="dropdown =">
        <summary role="button"
                 class="button outline">
          <i class="bi bi-person"></i>
        </summary>
        <ul dir="rtl">
          <li dir="ltr">
            <a href="#"><i class="bi bi-person-bounding-box"
                 style="margin-right: 1rem"></i>Profile</a>
          </li>
          <!-- <li dir="ltr">
            <a href="#"><i class="bi bi-gear"
                 style="margin-right: 1rem"></i>Settings</a>
          </li> -->
          <li dir="ltr">
            <a href="/logout"><i class="bi bi-box-arrow-right"
                 style="margin-right: 1rem"></i>Logout</a>
          </li>
        </ul>
      </details>
    </li>

    {% endif %}

  </ul>

</nav>

{% endblock %}