{% block sidenav %}

{% if current_user is defined and current_user.active %}
<!-- <div class="sidenav-header">
  <hgroup>
    <h4>Hi {{ current_user.first_name }},</h4>
    <p>Welcome to {{ config.organization_name }}!</p>
    <p>What would you like to do today?</p>
  </hgroup>
</div> -->

<!-- hx-on::response-error="handleHTTPError(event)" -->

<div class="sidenav-body"
     id="sidenav-body">

  <div class="sidenav-item sidenav-item-home sidenav-item-active"
       hx-get="/"
       hx-trigger="click"
       hx-swap="outerHTML"
       hx-target="html">Home</div>

  <div class="sidenav-item sidenav-item-deployments"
       hx-get="/deployments"
       hx-trigger="click"
       hx-swap="innerHTML"
       hx-target=".content-root">Deployments</div>

  <div class="sidenav-item sidenav-item-stacks"
       hx-get="/stacks"
       hx-trigger="click"
       hx-swap="innerHTML"
       hx-target=".content-root">Stacks</div>

  <div class="sidenav-item sidenav-item-environments"
       hx-get="/environments"
       hx-trigger="click"
       hx-swap="innerHTML"
       hx-target=".content-root">Environments</div>

  <div class="sidenav-item sidenav-item-products"
       hx-get="/products"
       hx-trigger="click"
       hx-swap="innerHTML"
       hx-target=".content-root">Products</div>

  <div class="sidenav-item sidenav-item-cloudproviders"
       hx-get="/cloudproviders"
       hx-trigger="click"
       hx-swap="innerHTML"
       hx-target=".content-root">Cloud Providers</div>

  <div class="sidenav-item sidenav-item-users"
       hx-get="/users"
       hx-trigger="click"
       hx-swap="innerHTML"
       hx-target=".content-root">Users</div>

</div>

<div class="sidenav-footer">
  <hgroup>
    <!-- <h4>Hi {{ current_user.first_name }},</h4> -->
    <!-- <p>Welcome to {{ config.organization_name }} Cloud!</p> -->
    <!-- <p>What would you like to do today?</p> -->
  </hgroup>
</div>
{% endif %}
{% endblock %}