<article class="card"
         id='{{ "card-products-" ~ product.id }}'
         hx-get='{{ "/products/" ~ product.id }}'
         hx-target="body"
         hx-swap="beforeend">

  <div class="card-content">

    <div class="card-body">
      <hgroup>
        <h4>{{ product.name }}</h4>
        <p>{{ product.version }}</p>
      </hgroup>
      <small>{{ product.repository_url }}</small>

    </div>

    <div class="card-footer">
      <i class="bi bi-info-circle-fill card-icon icon-secondary"></i>
    </div>
  </div>
</article>