<dialog id="product-detail-modal"
        class="modal"
        open=""
        _="on closeModal add .closing then wait for animationend then remove me">

  <div class="modal-underlay"
       _="on click trigger closeModal"></div>
  <article class="modal-content">

    <form id="product-detail-form"
          hx-put="/products/{{ product.id }}"
          hx-trigger="saveProduct"
          hx-swap="outerHTML"
          hx-target="#product-detail-modal"
          hx-ext="json-enc">
      <div class="modal-body">

        <i class="bi bi-x-circle-fill modal-icon icon-secondary"
           _="on click trigger closeModal"></i>

        <h4>
          Product Details
        </h4>

        <label for="name"
               hx-target="this"
               hx-swap="outerHTML">Product Name
          <input class="inline-editable"
                 type="text"
                 name="name"
                 placeholder="Product Name"
                 required
                 minlength="3"
                 maxlength="64"
                 aria-label="Product Name"
                 value="{{ product.name }}"
                 _="on click remove @readonly on blur add @readonly on change trigger saveProduct on #product-detail-form"
                 readonly
                 hx-post="/products/validate/name/update"
                 hx-ext="json-enc"
                 aria-invalid="false" />
        </label>

        <label for="version"
               hx-target="this"
               hx-swap="outerHTML">Version
          <input class="inline-editable"
                 type="text"
                 name="version"
                 placeholder="Product Version e.g. 2024.11.R01"
                 required
                 minlength="3"
                 maxlength="16"
                 aria-label="Product Version"
                 value="{{ product.version }}"
                 _="on click remove @readonly on blur add @readonly on change trigger saveProduct on #product-detail-form"
                 readonly
                 hx-post="/products/validate/version/update"
                 hx-ext="json-enc"
                 aria-invalid="false" />
        </label>

        <label for="repository_url"
               hx-target="this"
               hx-swap="outerHTML">Docker repository URL
          <input class="inline-editable"
                 type="url"
                 name="repository_url"
                 placeholder="Docker Repository URL"
                 required
                 minlength="3"
                 maxlength="256"
                 aria-label="Docker Repository URL"
                 value="{{ product.repository_url }}"
                 _="on click remove @readonly on blur add @readonly on change trigger saveProduct on #product-detail-form"
                 readonly
                 hx-post="/products/validate/repository_url/update"
                 hx-ext="json-enc"
                 aria-invalid="false" />
        </label>

        <label for="repository_username"
               hx-target="this"
               hx-swap="outerHTML">Repository Username
          <input class="inline-editable"
                 type="text"
                 name="repository_username"
                 placeholder="Repository Username"
                 required
                 minlength="3"
                 maxlength="256"
                 aria-label="Repository Username"
                 value="{{ product.repository_username }}"
                 _="on click remove @readonly on blur add @readonly on change trigger saveProduct on #product-detail-form"
                 readonly
                 hx-post="/products/validate/repository_username/update"
                 hx-ext="json-enc"
                 aria-invalid="false" />
        </label>

        <label for="repository_password">Repository Password or Access Token
          <input class="inline-editable"
                 type="password"
                 name="repository_password"
                 aria-label="Repository Password or Access Token"
                 _="on click remove @readonly on blur add @readonly on change trigger saveProduct on #product-detail-form"
                 readonly />
        </label>

        <label for="active">Active &nbsp;&nbsp;
          <input name="active"
                 id="active"
                 aria-label="Product Active"
                 type="checkbox"
                 _="on click trigger saveProduct on #product-detail-form"
                 {% if product.active %}checked{% endif %} />
        </label>

        <label>Created By {{ product.user.first_name }} {{ product.user.last_name }}</label>
        <label>Created Date {{ product.created_at.strftime('%Y-%m-%d %H:%M %Z') }}</label>
        <label>Updated Date {{ product.updated_at.strftime('%Y-%m-%d %H:%M %Z') }}</label>

      </div>

      <div class="modal-footer">

        <label class="error-message"
               id="error-message"
               style="display: none;"></label>
        <label class="success-message"
               id="success-message"
               style="display: none;"></label>
        <label class="info-message"
               id="info-message"
               style="display: none;"></label>

      </div>
    </form>
  </article>
</dialog>



<article class="card card-products"
         id='{{ "card-products-" ~ product.id }}'
         hx-get='{{ "/products/" ~ product.id }}'
         hx-target="body"
         hx-swap="beforeend"
         hx-swap-oob="true">
  <div class="card-content">
    <div class="card-body">
      <h4>{{ product.name }}</h4>
      <small>{{ product.version }}</small>
    </div>
    <!-- <div class="card-footer">
      <i class="bi bi-info-circle-fill card-icon icon-primary"></i>
    </div> -->
  </div>
</article>
