{% if field == "name" %}

{% if is_validated %}

<label for="name"
       hx-target="this"
       hx-swap="outerHTML">Product Name
  <input class="inline-editable"
         type="text"
         name="name"
         placeholder="Product Name"
         required
         minlength="3"
         maxlength="64"
         aria-label="Product Name"
         value="{{ value }}"
         _="on click remove @readonly on blur add @readonly on change trigger saveProduct on #product-detail-form"
         readonly
         hx-post="/products/validate/name/update"
         hx-ext="json-enc"
         aria-invalid="false" />
</label>

{% else %}

<label for="name"
       hx-target="this"
       hx-swap="outerHTML">Product Name <sup><small><i class="bi bi-asterisk icon-warning"></i></small></sup>
  <input class="inline-editable"
         type="text"
         name="name"
         placeholder="Product Name"
         required
         minlength="3"
         maxlength="64"
         aria-label="Product Name"
         value="{{ value }}"
         _="on click remove @readonly on blur add @readonly on change trigger saveProduct on #product-detail-form"
         readonly
         hx-post="/products/validate/name/update"
         hx-ext="json-enc"
         aria-invalid="true"
         aria-describedby="name-helper" />

  <small id="name-helper">Must have atleast 3 letters, e.g. CDR</small>
</label>

{% endif %}

{% elif field == "version" %}

{% if is_validated %}

<label for="version"
       hx-target="this"
       hx-swap="outerHTML">Version
  <input class="inline-editable"
         type="text"
         name="version"
         placeholder="Product Version e.g. 2024.11.R01"
         required
         minlength="3"
         maxlength="16"
         aria-label="Product Version"
         value="{{ value }}"
         _="on click remove @readonly on blur add @readonly on change trigger saveProduct on #product-detail-form"
         readonly
         hx-post="/products/validate/version/update"
         hx-ext="json-enc"
         aria-invalid="false" />
</label>

{% else %}

<label for="version"
       hx-target="this"
       hx-swap="outerHTML">Version <sup><small><i class="bi bi-asterisk icon-warning"></i></small></sup>
  <input class="inline-editable"
         type="text"
         name="version"
         placeholder="Product Version e.g. 2024.11.R01"
         required
         minlength="3"
         maxlength="16"
         aria-label="Product Version"
         value="{{ value }}"
         _="on click remove @readonly on blur add @readonly on change trigger saveProduct on #product-detail-form"
         readonly
         hx-post="/products/validate/version/update"
         hx-ext="json-enc"
         aria-invalid="true"
         aria-describedby="version-helper" />

  <small id="version-helper">Must have atleast 3 characters and should be unique, e.g. 2024.11.R01</small>
</label>

{% endif %}

{% elif field == "repository_url" %}

{% if is_validated %}

<label for="repository_url"
       hx-target="this"
       hx-swap="outerHTML">Docker repository URL
  <input class="inline-editable"
         type="text"
         name="repository_url"
         placeholder="Docker Repository URL"
         required
         minlength="3"
         maxlength="256"
         aria-label="Docker Repository URL"
         value="{{ value }}"
         _="on click remove @readonly on blur add @readonly on change trigger saveProduct on #product-detail-form"
         readonly
         hx-post="/products/validate/repository_url/update"
         hx-ext="json-enc"
         aria-invalid="false" />
</label>

{% else %}

<label for="repository_url"
       hx-target="this"
       hx-swap="outerHTML">Docker repository URL <sup><small><i class="bi bi-asterisk icon-warning"></i></small></sup>
  <input class="inline-editable"
         type="text"
         name="repository_url"
         placeholder="Docker Repository URL"
         required
         minlength="3"
         maxlength="256"
         aria-label="Docker Repository URL"
         value="{{ value }}"
         _="on click remove @readonly on blur add @readonly on change trigger saveProduct on #product-detail-form"
         readonly
         hx-post="/products/validate/repository_url/update"
         hx-ext="json-enc"
         aria-invalid="true"
         aria-describedby="repository_url-helper" />
  <small id="repository_url-helper">Must be a valid HTTP URL, e.g. https://docker.smilecdr.com/smilecdr:2024.11.R01</small>
</label>

{% endif %}

{% elif field == "repository_username" %}

{% if is_validated %}

<label for="repository_username"
       hx-target="this"
       hx-swap="outerHTML">Repository Username
  <input class="inline-editable"
         type="text"
         name="repository_username"
         placeholder="Repository Username"
         required
         minlength="3"
         maxlength="256"
         aria-label="Repository Username"
         value="{{ value }}"
         _="on click remove @readonly on blur add @readonly on change trigger saveProduct on #product-detail-form"
         readonly
         hx-post="/products/validate/repository_username/update"
         hx-ext="json-enc"
         aria-invalid="false" />

</label>

{% else %}

<label for="repository_username"
       hx-target="this"
       hx-swap="outerHTML">Repository Username <sup><small><i class="bi bi-asterisk icon-warning"></i></small></sup>
  <input class="inline-editable"
         type="text"
         name="repository_username"
         placeholder="Repository Username"
         required
         minlength="3"
         maxlength="256"
         aria-label="Repository Username"
         value="{{ value }}"
         _="on click remove @readonly on blur add @readonly on change trigger saveProduct on #product-detail-form"
         readonly
         hx-post="/products/validate/repository_username/update"
         hx-ext="json-enc"
         aria-invalid="true"
         aria-describedby="repository_username-helper" />
  <small id="repository_username-helper">Must have atleast 3 characters</small>
</label>
{% endif %}

{% endif %}