<article class="card card-deployments"
         id='{{ "card-deployments-" ~ deployment.id }}'
         hx-get='{{ "/deployments/" ~ deployment.id }}'
         hx-target="body"
         hx-swap="beforeend">

  <div class="card-content">

    <div class="card-body">

      <h4>{{ deployment.name }}</h4>
      <h6>Status: <strong>{{ deployment.status }}</strong></h6>

      <small>Cloud Provider: {{ deployment.cloudprovider.name }}</small>
      <small>Region: {{ deployment.environment.aws_region }}</small>
      <small>Environment: {{ deployment.environment.name }}</small>
      <small>Stack: {{ deployment.stack.name }}</small>

    </div>

    <div class="card-footer">

      {% if deployment.status == "ONLINE" %}
      <i class="bi bi-fire card-icon icon-fhir"></i>
      {% elif deployment.status == "DELETED" %}
      <i class="bi bi-fire card-icon icon-secondary"></i>
      {% else %}
      <progress></progress>
      {% endif %}
      <i class="bi bi-info-circle-fill card-icon icon-secondary"></i>

    </div>
  </div>
</article>