{% extends "shared/base.html" %}

{% block content %}

{% if current_user is defined and current_user.active %}

<div class="sidenav-root">
  {% include "shared/nav-sidebar.html" %}
</div>

<div class="content-root">

  <div class="content-header">
    <hgroup>
      <h4>Hi {{ current_user.first_name }},</h4>
      <p>Welcome to {{ config.organization_name }} Cloud Services. What would you like to do today?</p>
    </hgroup>
  </div>

  <hr />

  <div class="content-body">

    <article class="card card-generic">
      <header class="card-header">

        <h4>Deployments</h4>
      </header>

      <div class="card-content">

        <div class="card-body">
          <p>Create and manage your deployments.</p>
        </div>

        <div class="card-footer">
          <button class="primary"
                  hx-get="/deployments/create"
                  hx-trigger="click"
                  hx-swap="beforeend"
                  hx-target=".content-root">Create</button>
          <button class="outline"
                  hx-get="/deployments"
                  hx-trigger="click"
                  hx-swap="innerHTML"
                  hx-target=".content-root">Manage</button>
        </div>
      </div>
    </article>

    <article class="card card-generic">
      <header class="card-header">

        <h4>Stacks</h4>
      </header>

      <div class="card-content">

        <div class="card-body">
          <p>Explore the stacks and learn about their features.</p>
        </div>

        <div class="card-footer">
          <!-- <button class="primary">Create</button> -->
          <button class="outline"
                  hx-get="/stacks"
                  hx-trigger="click"
                  hx-swap="innerHTML"
                  hx-target=".content-root">Details</button>
        </div>
      </div>
    </article>

    <article class="card card-generic">
      <header class="card-header">

        <h4>Products</h4>
      </header>

      <div class="card-content">

        <div class="card-body">
          <p>Browse through the list of available products.</p>
        </div>

        <div class="card-footer">
          <!-- <button class="primary">Create</button> -->
          <button class="outline"
                  hx-get="/products"
                  hx-trigger="click"
                  hx-swap="innerHTML"
                  hx-target=".content-root">Details</button>
        </div>
      </div>
    </article>

    <article class="card card-generic">
      <header class="card-header">

        <h4>Cloud Providers</h4>
      </header>

      <div class="card-content">

        <div class="card-body">
          <p>Check out the Cloud Providers that we can deploy to.</p>
        </div>

        <div class="card-footer">
          <!-- <button class="primary">Create</button> -->
          <button class="outline"
                  hx-get="/cloudproviders"
                  hx-trigger="click"
                  hx-swap="innerHTML"
                  hx-target=".content-root">Details</button>
        </div>
      </div>
    </article>
  </div>

  <div class="content-footer">

    <label class="error-message"
           id="error-message"
           style="display: none;"></label>
  </div>
</div>
{% endif %}
<!-- <form hx-post="/products" hx-trigger="submit" hx-target="#products" hx-swap="beforeend" hx-ext="json-enc">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" />
  <input type="submit" value="Submit" />
</form> -->

<!-- <div id="products" hx-get="/products" hx-trigger="load" hx-swap="innerHTML"></div> -->

{% endblock %}